# 資料庫查詢更新刪除新增操作


使用Django的指令

使用SQL指令

# models.py 原始程式碼!!

from django.db import models
import numpy as np


from django.contrib.auth.models import User


class MyUser(models.Model):
    #id = models.AutoField(primary_key=True)
    #id = models.IntegerField(primary_key=True)
    username = models.CharField('姓名', max_length = 20)
    def __str__(self):
        return self.username
    #def user_average_rating(self):
        #可以寫一個使用者的平均評分


class Band(models.Model):
    #id = models.AutoField(primary_key=True)
    #id = models.IntegerField(primary_key=True)
    name = models.CharField('樂團', max_length = 100)
    detail = models.CharField(max_length = 6000, default='')
    photo_url = models.CharField(max_length = 200, default='')

    def __str__(self):
        return self.name
    def average_rating(self):
        all_rating = self.rating_set.all()
        '''
        total=0
        for r in all_rating:
            total += r.rating
        avg = total/all_rating.count()
        '''
        all_ratings = list( map(lambda x: x.get_rate(), self.rating_set.all()) )
        avg = np.mean(all_ratings)
        
        return avg
    

class Rating(models.Model):
    RATING_CHOICES = (
        (1, '1'),
        (2, '2'),
        (3, '3'),
        (4, '4'),
        (5, '5'),
    )
    # user_name = models.CharField('評分者姓名',max_length=100)
    # user = models.ForeignKey(MyUser, verbose_name='評分者', null=True)
    user = models.ForeignKey(User, verbose_name='評分者', null=True)
    
    band = models.ForeignKey(Band, verbose_name='樂團')
    rating = models.FloatField('給個評分吧!', choices=RATING_CHOICES)
    pub_date = models.DateTimeField('評分時間')
    comment = models.CharField('給個留言',max_length=200, blank =True)
    def get_rate(self):
        return self.rating
    def __str__(self):
        return self.user.username+","+self.band.name+":"+str(self.rating)

In [3]:
import os 
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "recommender.settings")
import django
django.setup()

In [2]:
from rcmder_app.models import Band

In [3]:
Band.objects.count()

10

In [19]:
result = Band.objects.all()

In [20]:
# 印出內容看看
for b in result:
    print(b.name, b.id)

閃靈 11
亂彈 12
五月天 13
脫拉庫 14
蘇打綠 15
四分衛 16
信樂團 17
飛兒 18
旺福 19
南拳媽媽 20

In [22]:
print(result.query)

SELECT "rcmder_app_band"."id", "rcmder_app_band"."name", "rcmder_app_band"."detail", "rcmder_app_band"."photo_url" FROM "rcmder_app_band"

In [27]:
result.filter(id = 11)

## 使用SQL命令      Select

SQL statement in .raw() return a set of rows

In [4]:
band_list=Band.objects.raw('select * FROM rcmder_app_band')

In [5]:
band_list

In [6]:
# 印出內容看看
for b in band_list:
    print(b.name, b.id)

閃靈 11
亂彈 12
五月天 13
脫拉庫 14
蘇打綠 15
四分衛 16
信樂團 17
飛兒 18
旺福 19
南拳媽媽 20

### 方法二:使用connection.cursor

In [9]:
from django.db import connection

In [10]:
cursor = connection.cursor()

In [15]:
cursor.execute("SELECT id, name FROM rcmder_app_band Order by name Limit 3")

In [16]:
print(cursor.fetchall())

[(12, '亂彈'), (13, '五月天'), (17, '信樂團')]

In [30]:
from django.db import connection

In [37]:
cursor = connection.cursor()

In [45]:
cursor.execute("SELECT count(*) FROM rcmder_app_band")

cursor.execute('''SELECT count(*) FROM rcmder_app_band''')

In [46]:
numberOfrecord = cursor.fetchall()

In [47]:
print( numberOfrecord )

[(10,)]

In [52]:
# WHERE查詢條件

cursor.execute("SELECT count(*) FROM rcmder_app_band Where name = '飛兒' ")

cursor.execute('SELECT count(*) FROM rcmder_app_band Where name = "飛兒" ')

In [53]:
numberOfrecord = cursor.fetchall()

In [54]:
print( numberOfrecord )

[(1,)]

In [67]:
cursor.execute("SELECT count(*) FROM rcmder_app_band Where name = %s", ['飛兒'])

In [68]:
print(cursor.fetchall())

[(1,)]

## Insert


INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

INSERT INTO table_name
VALUES (value1, value2, value3, ...);

In [69]:
b = Band(name='董事長'
         ,detail='動力火車（Power Station）是1997年在臺灣成立的一個演唱組合團體，由尤秋興與顏志琳兩位排灣族歌手組成，目前是華研國際音樂旗下的歌手。'
         ,photo_url='https://zh.wikipedia.org/wiki/File:Power_Station_Taiwan.jpg'
        )

In [70]:
b.save()

In [95]:
band_list=Band.objects.raw('select * FROM rcmder_app_band')

In [96]:
for b in band_list:
    print(b.name, b.id)

閃靈 11
亂彈 12
五月天 13
脫拉庫 14
蘇打綠 15
四分衛 16
信樂團 17
飛兒 18
旺福 19
南拳媽媽 20

## Update

In [74]:
cursor.execute("UPDATE rcmder_app_band SET name= %s WHERE id = 21", ['動力火車'])

## Delete

DELETE FROM table_name WHERE condition;

In [79]:
cursor.execute("DELETE From rcmder_app_band WHERE id =21")

In [92]:
for b in Band.objects.all():
    print(b.name, b.id)

閃靈 11
亂彈 12
五月天 13
脫拉庫 14
蘇打綠 15
四分衛 16
信樂團 17
飛兒 18
旺福 19
南拳媽媽 20
動力火車 21

In [94]:
# Django方式還是比較方便

In [91]:
b = Band(id = 21
         ,name='動力火車'
         ,detail='動力火車（Power Station）是1997年在臺灣成立的一個演唱組合團體，由尤秋興與顏志琳兩位排灣族歌手組成，目前是華研國際音樂旗下的歌手。'
         ,photo_url='https://zh.wikipedia.org/wiki/File:Power_Station_Taiwan.jpg'
        )
b.save()

In [93]:
# jango的刪除寫法
b = Band.objects.get(id = 21)
b.delete()

(1, {'rcmder_app.Band': 1, 'rcmder_app.Rating': 0})

# 對 Rating表格做查詢

In [17]:
result= cursor.execute("SELECT * FROM rcmder_app_rating")

In [108]:
for row in result:
    print(row)

(2, 2.0, datetime.datetime(2017, 6, 2, 11, 17, 14, 891891), '', 12, 1)
(3, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 24367), '', 14, 1)
(4, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 15, 166028), '', 15, 1)
(5, 1.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 258249), '', 16, 1)
(6, 2.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 359457), '', 17, 1)
(7, 2.0, datetime.datetime(2017, 6, 2, 11, 17, 15, 449582), '', 18, 1)
(8, 2.0, datetime.datetime(2017, 6, 2, 11, 17, 15, 547861), '', 11, 2)
(9, 3.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 686380), '', 12, 2)
(10, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 15, 774659), '', 13, 2)
(11, 2.0, datetime.datetime(2017, 6, 2, 11, 17, 15, 863995), '', 15, 2)
(12, 3.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 947541), '', 16, 2)
(13, 3.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 23102), '', 18, 2)
(14, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 108100), '', 11, 3)
(15, 1.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 194728), '', 12, 3)
(16, 1.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 369840), '', 13, 3)
(17, 3.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 685846), '', 14, 3)
(18, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 790310), '', 15, 3)
(19, 1.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 864863), '', 16, 3)
(20, 3.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 939477), '', 11, 4)
(21, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 23327), '', 12, 4)
(22, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 17, 203987), '', 13, 4)
(23, 3.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 287623), '', 15, 4)
(24, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 17, 372783), '', 16, 4)
(25, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 461755), '', 17, 4)
(26, 2.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 586570), '', 18, 4)
(27, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 679269), '', 12, 5)
(28, 1.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 765139), '', 13, 5)
(29, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 850460), '', 14, 5)
(30, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 931721), '', 17, 5)
(31, 1.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 6297), '', 18, 5)
(32, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 18, 81526), '', 12, 6)
(33, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 162545), '', 13, 6)
(34, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 246030), '', 14, 6)
(35, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 342166), '', 15, 6)
(36, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 18, 423173), '', 16, 6)
(37, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 518128), '', 17, 6)
(38, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 608343), '', 18, 6)
(39, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 707739), '', 11, 7)
(40, 2.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 797340), '', 12, 7)
(41, 3.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 926721), '', 14, 7)
(42, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 14992), '', 15, 7)
(43, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 98487), '', 16, 7)
(44, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 403027), '', 17, 7)
(45, 3.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 654755), '', 11, 8)
(46, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 956931), '', 14, 8)
(47, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 20, 56820), '', 15, 8)
(49, 3.0, datetime.datetime(2017, 6, 2, 11, 17, 20, 232216), '', 17, 8)
(55, 3.0, datetime.datetime(2017, 6, 3, 20, 25, 22, 306456), '', 18, 1)
(56, 2.0, datetime.datetime(2017, 6, 4, 9, 53, 28, 509048), '', 18, 4)
(57, 3.0, datetime.datetime(2017, 6, 4, 12, 7, 7, 302101), '', 18, 4)
(58, 2.0, datetime.datetime(2017, 6, 4, 12, 18, 12, 300935), '', 18, 4)
(59, 2.0, datetime.datetime(2017, 6, 4, 12, 18, 49, 331717), '', 18, 4)
(60, 2.0, datetime.datetime(2017, 6, 4, 12, 19, 36, 400939), '', 18, 4)
(61, 4.0, datetime.datetime(2017, 6, 4, 12, 38, 58, 849866), '', 18, 4)
(62, 4.0, datetime.datetime(2017, 6, 4, 16, 4, 8, 526813), '', 18, 9)
(63, 4.0, datetime.datetime(2017, 6, 5, 22, 44, 27, 408043), '', 18, 13)
(64, 4.0, datetime.datetime(2017, 6, 5, 22, 47, 23, 84163), '', 11, 14)

In [37]:
cursor = connection.cursor()

In [31]:
# 有外部鍵 的 欄位名稱
cursor.execute("SELECT user_id, band_id, rating FROM rcmder_app_rating Where rating > 4")

In [32]:
print(cursor.fetchall())

[(1, 14, 4.5), (1, 15, 5.0), (3, 11, 5.0), (3, 15, 5.0), (4, 13, 4.5), (4, 16, 4.5), (6, 12, 4.5), (6, 14, 5.0), (6, 15, 5.0), (6, 16, 4.5), (7, 11, 5.0), (7, 15, 5.0), (7, 17, 5.0), (8, 14, 5.0)]

### 最多人評分的樂團

拿不到樂團名稱

SELECT "欄位名" 
FROM "表格名" 
[WHERE "條件"]
ORDER BY "欄位名" [ASC, DESC];

In [59]:
# 有外部鍵 的 欄位名稱
cursor.execute("SELECT band_id, Count(*) as numberOfRate FROM rcmder_app_rating Group by band_id Order by numberOfRate DESC Limit 3")

In [60]:
print(cursor.fetchall())

[(18, 14), (11, 7), (12, 7)]

In [114]:
cursor.execute("SELECT count(*) FROM rcmder_app_rating Where rating > '3'")

In [115]:
print(cursor.fetchall())

[(32,)]

In [117]:
cursor.execute("SELECT * FROM rcmder_app_rating Where rating > '3'")

In [118]:
print(cursor.fetchall())

[(1, 3.5, datetime.datetime(2017, 6, 2, 11, 17, 14, 726415), '', 11, 1), (3, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 24367), '', 14, 1), (4, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 15, 166028), '', 15, 1), (9, 3.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 686380), '', 12, 2), (10, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 15, 774659), '', 13, 2), (12, 3.5, datetime.datetime(2017, 6, 2, 11, 17, 15, 947541), '', 16, 2), (14, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 108100), '', 11, 3), (18, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 16, 790310), '', 15, 3), (21, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 23327), '', 12, 4), (22, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 17, 203987), '', 13, 4), (24, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 17, 372783), '', 16, 4), (25, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 461755), '', 17, 4), (27, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 679269), '', 12, 5), (29, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 850460), '', 14, 5), (30, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 17, 931721), '', 17, 5), (32, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 18, 81526), '', 12, 6), (33, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 162545), '', 13, 6), (34, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 246030), '', 14, 6), (35, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 342166), '', 15, 6), (36, 4.5, datetime.datetime(2017, 6, 2, 11, 17, 18, 423173), '', 16, 6), (37, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 518128), '', 17, 6), (38, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 608343), '', 18, 6), (39, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 18, 707739), '', 11, 7), (42, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 14992), '', 15, 7), (43, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 98487), '', 16, 7), (44, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 403027), '', 17, 7), (46, 5.0, datetime.datetime(2017, 6, 2, 11, 17, 19, 956931), '', 14, 8), (47, 4.0, datetime.datetime(2017, 6, 2, 11, 17, 20, 56820), '', 15, 8), (61, 4.0, datetime.datetime(2017, 6, 4, 12, 38, 58, 849866), '', 18, 4), (62, 4.0, datetime.datetime(2017, 6, 4, 16, 4, 8, 526813), '', 18, 9), (63, 4.0, datetime.datetime(2017, 6, 5, 22, 44, 27, 408043), '', 18, 13), (64, 4.0, datetime.datetime(2017, 6, 5, 22, 47, 23, 84163), '', 11, 14)]

## filter用法

In [73]:
from rcmder_app.models import Band, Rating

In [74]:
# 本身表格 欄位 條件查詢
Rating.objects.filter(user_id=1)

<QuerySet [<Rating: Angelica,閃靈:3.5>, <Rating: Angelica,亂彈:2.0>, <Rating: Angelica,脫拉庫:4.5>, <Rating: Angelica,蘇打綠:5.0>, <Rating: Angelica,四分衛:1.5>, <Rating: Angelica,信樂團:2.5>, <Rating: Angelica,飛兒:2.0>, <Rating: Angelica,飛兒:3.0>]>

In [75]:
Rating.objects.filter( rating = 5 )

<QuerySet [<Rating: Angelica,蘇打綠:5.0>, <Rating: Chan,閃靈:5.0>, <Rating: Chan,蘇打綠:5.0>, <Rating: Jordyn,脫拉庫:5.0>, <Rating: Jordyn,蘇打綠:5.0>, <Rating: Sam,閃靈:5.0>, <Rating: Sam,蘇打綠:5.0>, <Rating: Sam,信樂團:5.0>, <Rating: Veronica,脫拉庫:5.0>]>

In [76]:
Rating.objects.filter( rating = 5 )[:3]  #只印出前幾筆!!

In [83]:
result = Rating.user.get_queryset()

for row in result:
    print(row.id,row.username)

1 Angelica
2 Bill
3 Chan
4 Dan
5 Hailey
6 Jordyn
7 Sam
8 Veronica
9 tom
10 hello
11 hello2
12 Max
13 Mis
14 Test

## 某人最喜歡的前幾個樂團

In [67]:
## 操作到外部鍵 表格的欄位  user__username  注意:兩個底線 

Rating.objects.filter(user__username = 'Angelica')

<QuerySet [<Rating: Angelica,閃靈:3.5>, <Rating: Angelica,亂彈:2.0>, <Rating: Angelica,脫拉庫:4.5>, <Rating: Angelica,蘇打綠:5.0>, <Rating: Angelica,四分衛:1.5>, <Rating: Angelica,信樂團:2.5>, <Rating: Angelica,飛兒:2.0>, <Rating: Angelica,飛兒:3.0>]>

In [68]:
## 操作到外部鍵 表格的欄位  user__username  注意:兩個底線 

Rating.objects.filter(user__username = 'Angelica', band__name = '飛兒')

In [69]:
## 操作到外部鍵 表格的欄位  band__name 注意:兩個底線 
Rating.objects.filter(band__name = '飛兒')

<QuerySet [<Rating: Angelica,飛兒:2.0>, <Rating: Bill,飛兒:3.0>, <Rating: Dan,飛兒:2.0>, <Rating: Hailey,飛兒:1.0>, <Rating: Jordyn,飛兒:4.0>, <Rating: Angelica,飛兒:3.0>, <Rating: Dan,飛兒:2.0>, <Rating: Dan,飛兒:3.0>, <Rating: Dan,飛兒:2.0>, <Rating: Dan,飛兒:2.0>, <Rating: Dan,飛兒:2.0>, <Rating: Dan,飛兒:4.0>, <Rating: tom,飛兒:4.0>, <Rating: Mis,飛兒:4.0>]>

In [119]:
## 操作到外部鍵 表格的欄位  user__username  注意:兩個底線 

Rating.objects.filter(user__username = 'Angelica').order_by('rating')[:4]

In [109]:
## 大排到小

Rating.objects.filter(user__username = 'Angelica').order_by('-rating')[:4]

In [110]:
# 大排到小
Rating.objects.filter(user__username = 'Angelica').order_by('rating').reverse()[:4]

### 最多人評分的樂團  用  SQL 連結兩張表

拿到樂團名稱

In [96]:
from django.db import connection
cursor = connection.cursor()

In [83]:
cursor.execute("SELECT B.name, Count(*) AS numberOfRate FROM rcmder_app_band B, rcmder_app_rating R Where R.band_id = B.id Group By B.id Order by numberOfRate DESC Limit 4")

In [84]:
print(cursor.fetchall())

[('飛兒', 14), ('閃靈', 7), ('亂彈', 7), ('蘇打綠', 7)]

參考SQL命令 

SELECT A1.Region_Name REGION, SUM(A2.Sales) SALES 
FROM Geography A1, Store_Information A2 
WHERE A1.Store_Name = A2.Store_Name 
GROUP BY A1.Region_Name;

### 平均評分最高的幾個樂團  用  SQL 連結兩張表

拿到樂團名稱

In [110]:
cursor.execute("SELECT B.id, B.name, AVG(R.rating) AS avg FROM rcmder_app_band B, rcmder_app_rating R Where R.band_id = B.id Group By B.id Order by avg DESC Limit 4")

In [111]:
print(cursor.fetchall())

[(15, '蘇打綠', 4.142857142857143), (14, '脫拉庫', 4.083333333333333), (17, '信樂團', 3.75), (11, '閃靈', 3.6875)]

In [128]:
cursor.execute("SELECT B.*, AVG(R.rating) AS avg FROM rcmder_app_band B, rcmder_app_rating R Where R.band_id = B.id Group By B.id Order by avg DESC Limit 4")

In [120]:
print(cursor.fetchall())

[(15, '蘇打綠', '蘇打綠清新自然的曲風，配合主唱青峯獨特的聲線，與豐富樂器的巧妙融合，不斷地創造出一首首膾炙人口的歌曲，《小情歌》、《飛魚》、《頻率》等等等等，輕柔細膩的歌曲總是令人沉醉其中，悄悄上癮而不自知！', 'https://i1.kknews.cc/large/96d0000dd102c03a168', 4.142857142857143), (14, '脫拉庫', '1996年成軍的脫拉庫，聲音辨識度超高的主唱國璽總是將自有的另類風格導入每首歌曲，聽著拖拉庫活潑輕快的曲風，在這涼爽的夏天配上一杯啤酒，絕對是人生一大爽事！即使是中年大叔，也要持續Rock下去！', 'https://i2.kknews.cc/large/7fa00097e5e86f44835', 4.083333333333333), (17, '信樂團', '高亢的歌聲，獨特的嗓音與驚人的爆發力，是信樂團最鮮明的特色，《一了百了》、《死了都要愛》、《天高地厚》等都是KTV必點熱門歌曲。雖然主唱信(蘇見信)在2007年單飛後一度面臨沒有主唱的窘境，不過在09年劉文杰加入後，信樂團又開始活躍在搖滾歌壇上。', 'https://i2.kknews.cc/large/96d0000dd0dd7cd60cc', 3.75), (11, '閃靈', '是台灣在國際音樂界曝光量最高的樂團！不只常有專輯登上國外音樂榜，也經常在海外大規模的音樂季做巡迴演出。', 'https://i1.kknews.cc/large/7fb000982b2a028e5b0', 3.6875)]

In [129]:
band_list = cursor.fetchall()

In [133]:
#SQL缺點： 查詢之後會失去欄位資訊
for b in band_list:
    print(b[0], b[1],b[4])

15 蘇打綠 4.142857142857143
14 脫拉庫 4.083333333333333
17 信樂團 3.75
11 閃靈 3.6875

## 如何拿到average_rating分數?

若有樂團沒有評分  會有warning訊息 需在models.py中特別處理

average_rating()這個欄位無法直接被用在filter, order_by

In [18]:
from rcmder_app.models import Band
band_list = Band.objects.all()

In [20]:
band_list

In [34]:
for b in band_list:
    print(b.id, b.name, b.rating_set.count(), b.average_rating())

11 閃靈 7 3.642857142857143
12 亂彈 7 3.0
13 五月天 5 2.9
14 脫拉庫 6 4.083333333333333
15 蘇打綠 7 4.142857142857143
16 四分衛 6 3.1666666666666665
17 信樂團 6 3.75
18 飛兒 14 2.7142857142857144
19 旺福 0 0
20 南拳媽媽 0 0

In [35]:
[(b.name, b.average_rating()) for b in band_list]

[('閃靈', 3.642857142857143),
 ('亂彈', 3.0),
 ('五月天', 2.9),
 ('脫拉庫', 4.083333333333333),
 ('蘇打綠', 4.142857142857143),
 ('四分衛', 3.1666666666666665),
 ('信樂團', 3.75),
 ('飛兒', 2.7142857142857144),
 ('旺福', 0),
 ('南拳媽媽', 0)]

In [36]:
top_band = [(b.id, b.name, b.rating_set.count(), b.average_rating()) for b in band_list]

In [93]:
from operator import itemgetter
sorted_top_band = sorted(top_band, key=itemgetter(3),  reverse=True)[:5]

In [94]:
sorted_top_band

[(15, '蘇打綠', 7, 4.142857142857143),
 (14, '脫拉庫', 6, 4.083333333333333),
 (17, '信樂團', 6, 3.75),
 (11, '閃靈', 7, 3.642857142857143),
 (16, '四分衛', 6, 3.1666666666666665)]

In [50]:
for b in band_list:
    print(b.id, b.name, b.rating_set.count(), b.average_rating())

11 閃靈 7 3.642857142857143
12 亂彈 7 3.0
13 五月天 5 2.9
14 脫拉庫 6 4.083333333333333
15 蘇打綠 7 4.142857142857143
16 四分衛 6 3.1666666666666665
17 信樂團 6 3.75
18 飛兒 14 2.7142857142857144
19 旺福 0 0
20 南拳媽媽 0 0

## Band的關聯  rating_set


The _set is a reverse lookup.

ForeignKey is 1-to-many relationship. Hence, the reverse is a queryset.

給一個band名稱，查出這個樂團的所有評分

In [85]:
my_rating_set = Band.objects.get(pk=11).rating_set

In [87]:
for row in my_rating_set.values():
    print(row)

{'pub_date': datetime.datetime(2017, 6, 2, 11, 17, 14, 726415, tzinfo=<UTC>), 'user_id': 1, 'rating': 3.5, 'band_id': 11, 'id': 1, 'comment': ''}
{'pub_date': datetime.datetime(2017, 6, 2, 11, 17, 15, 547861, tzinfo=<UTC>), 'user_id': 2, 'rating': 2.0, 'band_id': 11, 'id': 8, 'comment': ''}
{'pub_date': datetime.datetime(2017, 6, 2, 11, 17, 16, 108100, tzinfo=<UTC>), 'user_id': 3, 'rating': 5.0, 'band_id': 11, 'id': 14, 'comment': ''}
{'pub_date': datetime.datetime(2017, 6, 2, 11, 17, 16, 939477, tzinfo=<UTC>), 'user_id': 4, 'rating': 3.0, 'band_id': 11, 'id': 20, 'comment': ''}
{'pub_date': datetime.datetime(2017, 6, 2, 11, 17, 18, 707739, tzinfo=<UTC>), 'user_id': 7, 'rating': 5.0, 'band_id': 11, 'id': 39, 'comment': ''}
{'pub_date': datetime.datetime(2017, 6, 2, 11, 17, 19, 654755, tzinfo=<UTC>), 'user_id': 8, 'rating': 3.0, 'band_id': 11, 'id': 45, 'comment': ''}
{'pub_date': datetime.datetime(2017, 6, 5, 22, 47, 23, 84163, tzinfo=<UTC>), 'user_id': 14, 'rating': 4.0, 'band_id': 11, 'id': 64, 'comment': ''}

In [88]:
for row in my_rating_set.all():
    print(row)

Angelica,閃靈:3.5
Bill,閃靈:2.0
Chan,閃靈:5.0
Dan,閃靈:3.0
Sam,閃靈:5.0
Veronica,閃靈:3.0
Test,閃靈:4.0

參考線上文件

https://docs.djangoproject.com/en/1.11/topics/db/models/
https://docs.djangoproject.com/en/1.11/topics/db/queries/#making-queries